In [23]:
import pandas as panda
import nltk

In [24]:
!pwd
#reading train data
train_data = panda.read_csv("train.csv", index_col='id')
print(train_data.shape)
train_data.head()

/content
(256442, 5)

,tid1,tid2,title1_en,title2_en,label
id,,,,,
195611,0,1,There are two new old-age insurance benefits f...,"Police disprove ""bird's nest congress each per...",unrelated
191474,2,3,"""If you do not come to Shenzhen, sooner or lat...",Shenzhen's GDP outstrips Hong Kong? Shenzhen S...,unrelated
25300,2,4,"""If you do not come to Shenzhen, sooner or lat...",The GDP overtopped Hong Kong? Shenzhen clarifi...,unrelated
123757,2,8,"""If you do not come to Shenzhen, sooner or lat...",Shenzhen's GDP overtakes Hong Kong? Bureau of ...,unrelated
141761,2,11,"""If you do not come to Shenzhen, sooner or lat...",Shenzhen's GDP outpaces Hong Kong? Defending R...,unrelated

# New Section

In [25]:
#dropping null values from tain.csv
train_data = train_data.dropna()
train_data.shape

(256442, 5)

In [26]:
nltk.download('all')

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Package abc is already up-to-date!
[nltk_data]    | Downloading package alpino to /root/nltk_data...
[nltk_data]    |   Package alpino is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger_ru is already
[nltk_data]    |       up-to-date!
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package basque_grammars is already up-to-date!
[nltk_data]    | Downloading package bcp47 to /root/nltk_data...
[nltk_data]    |   Package bcp47 is already up-to-date!
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package biocreative_ppi is already up-to-date!
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package bllip_wsj_no_aux is already up-to-date!
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package book_grammars is already up-to-date!
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Package brown is already up-to-date!
[nltk_data]    | Downloading package brown_tei to /root/nltk_data...
[nltk_data]    |   Package brown_tei is already up-to-date!
[nltk_data]    | Downloading package cess_cat to /root/nltk_data...
[nltk_data]    |   Package cess_cat is already up-to-date!
[nltk_data]    | Downloading package cess_esp to /root/nltk_data...
[nltk_data]    |   Package cess_esp is already up-to-date!
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Package chat80 is already up-to-date!
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package city_database is already up-to-date!
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package comparative_sentences is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package comtrans to /root/nltk_data...
[nltk_data]    |   Package comtrans is already up-to-date!
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Package conll2000 is already up-to-date!
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Package conll2002 is already up-to-date!
[nltk_data]    | Downloading package conll2007 to /root/nltk_data...
[nltk_data]    |   Package conll2007 is already up-to-date!
[nltk_data]    | Downloading package crubadan to /root/nltk_data...
[nltk_data]    |   Package crubadan is already up-to-date!
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package dependency_treebank is already up-to-date!
[nltk_data]    | Downloading package dolch to /root/nltk_data...
[nltk_data]    |   Package dolch is already up-to-date!
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package europarl_raw is already up-to-date!
[nltk_data]    | Downloading package extended_omw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package extended_omw is already up-to-date!
[nltk_data]    | Downloading package floresta to /root/nltk_data...
[nltk_data]    |   Package floresta is already up-to-date!
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package framenet_v15 is already up-to-date!
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package framenet_v17 is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Package ieer is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package indian to /root/nltk_data...
[nltk_data]    |   Package indian is already up-to-date!
[nltk_data]    | Downloading package jeita to /root/nltk_data...
[nltk_data]    |   Package jeita is already up-to-date!
[nltk_data]    | Downloading package kimmo to /root/nltk_data...
[nltk_data]    |   Package kimmo is already up-to-date!
[nltk_data]    | Downloading package knbc to /root/nltk_data...
[nltk_data]    |   Package knbc is already up-to-date!
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package large_grammars is already up-to-date!
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package lin_thesaurus is already up-to-date!
[nltk_data]    | Downloading package mac_morpho to /root/nltk_data...
[nltk_data]    |   Package mac_morpho is already up-to-date!
[nltk_data]    | Downloading package machado to /root/nltk_data...
[nltk_data]    |   Package machado is already up-to-date!
[nltk_data]    | Downloading package masc_tagged to /root/nltk_data...
[nltk_data]    |   Package masc_tagged is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_treebank_pos_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package moses_sample is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package mte_teip5 to /root/nltk_data...
[nltk_data]    |   Package mte_teip5 is already up-to-date!
[nltk_data]    | Downloading package mwa_ppdb to /root/nltk_data...
[nltk_data]    |   Package mwa_ppdb is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package nombank.1.0 to /root/nltk_data...
[nltk_data]    |   Package nombank.1.0 is already up-to-date!
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package nonbreaking_prefixes is already up-to-date!
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Package nps_chat is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package opinion_lexicon is already up-to-date!
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package panlex_swadesh is already up-to-date!
[nltk_data]    | Downloading package paradigms to /root/nltk_data...
[nltk_data]    |   Package paradigms is already up-to-date!
[nltk_data]    | Downloading package pe08 to /root/nltk_data...
[nltk_data]    |   Package pe08 is already up-to-date!
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package perluniprops is already up-to-date!
[nltk_data]    | Downloading package pil to /root/nltk_data...
[nltk_data]    |   Package pil is already up-to-date!
[nltk_data]    | Downloading package pl196x to /root/nltk_data...
[nltk_data]    |   Package pl196x is already up-to-date!
[nltk_data]    | Downloading package porter_test to /root/nltk_data...
[nltk_data]    |   Package porter_test is already up-to-date!
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Package ppattach is already up-to-date!
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package problem_reports is already up-to-date!
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package product_reviews_1 is already up-to-date!
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package product_reviews_2 is already up-to-date!
[nltk_data]    | Downloading package propbank to /root/nltk_data...
[nltk_data]    |   Package propbank is already up-to-date!
[nltk_data]    | Downloading package pros_cons to /root/nltk_data...
[nltk_data]    |   Package pros_cons is already up-to-date!
[nltk_data]    | Downloading package ptb to /root/nltk_data...
[nltk_data]    |   Package ptb is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package qc to /root/nltk_data...
[nltk_data]    |   Package qc is already up-to-date!
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    |   Package reuters is already up-to-date!
[nltk_data]    | Downloading package rslp to /root/nltk_data...
[nltk_data]    |   Package rslp is already up-to-date!
[nltk_data]    | Downloading package rte to /root/nltk_data...
[nltk_data]    |   Package rte is already up-to-date!
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package sample_grammars is already up-to-date!
[nltk_data]    | Downloading package semcor to /root/nltk_data...
[nltk_data]    |   Package semcor is already up-to-date!
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Package senseval is already up-to-date!
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package sentence_polarity is already up-to-date!
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package sentiwordnet is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package sinica_treebank is already up-to-date!
[nltk_data]    | Downloading package smultron to /root/nltk_data...
[nltk_data]    |   Package smultron is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package spanish_grammars is already up-to-date!
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Package state_union is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package subjectivity is already up-to-date!
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Package swadesh is already up-to-date!
[nltk_data]    | Downloading package switchboard to /root/nltk_data...
[nltk_data]    |   Package switchboard is already up-to-date!
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Package tagsets is already up-to-date!
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Package timit is already up-to-date!
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Package toolbox is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Package udhr is already up-to-date!
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Package udhr2 is already up-to-date!
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package unicode_samples is already up-to-date!
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package universal_tagset is already up-to-date!
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package universal_treebanks_v20 is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package vader_lexicon is already up-to-date!
[nltk_data]    | Downloading package verbnet to /root/nltk_data...
[nltk_data]    |   Package verbnet is already up-to-date!
[nltk_data]    | Downloading package verbnet3 to /root/nltk_data...
[nltk_data]    |   Package verbnet3 is already up-to-date!
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Package webtext is already up-to-date!
[nltk_data]    | Downloading package wmt15_eval to /root/nltk_data...
[nltk_data]    |   Package wmt15_eval is already up-to-date!
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package word2vec_sample is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet2022 to /root/nltk_data...
[nltk_data]    |   Package wordnet2022 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package ycoe to /root/nltk_data...
[nltk_data]    |   Package ycoe is already up-to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection all

True

In [27]:
import string
from string import punctuation
from nltk.corpus import stopwords

# stopwords
stopwords_list = nltk.corpus.stopwords.words("english")
print(stopwords_list)
#making a list of stopwords and punctuation
stoplist = set(stopwords.words('english') + list(punctuation))
print(stoplist)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
{'the', 'until', 'some', '$', 'each', 'here', 'with', 'why', "you'll", 'as', 't', "haven't", 'm', 'too', 'yourselves', 'there', 'then', '@', 'him', 'if', 'up', '\\', 'only', 'yourself', 'ain', 'your', 'he', 'didn', 'my', 'won', 'below', 'because', 'while', 'than', "weren't", 'should', 'where', 'very', 'd', 'down', "won't", 'through', 'of', 'theirs', 'a', 'she', 'by', 'do', '*', 'during', 'doing', 'at', 'are', 'it', 'an', 'wasn', 'did', 's', 'll', 'them', 'that', 'above', "shouldn't", 'can', "isn't", 'in', "wouldn't", '|', 'i', 'our', '(', '`', 'this', 'we', '-', "that'll", 'from', 'so', '"', 'other', "hadn't", '[', 'whom', 'when', 'is', 'any', 'needn', ',', '<', 'their', 'most', 'yours', 'hers', "hasn't", 'nor', 'few', 'before', 'further', 'does', "don't", 'hasn', 'such', 'same', '~', 'couldn', 'and', 'weren', ';', 'on', 'no', 've', 'all', 'just', 'will', '{', ')', 'ours', "couldn't", '!', '=', 'or', 'was', 'out', 'doesn', 'now', "needn't", "wasn't", 'between', "shan't", "didn't", 're', 'has', '?', 'itself', 'mightn', '.', ']', "she's", 'her', "'", 'y', '}', 'but', 'once', 'aren', 'don', 'own', "it's", "mightn't", 'these', 'ourselves', 'its', 'had', '_', 'herself', 'haven', 'into', 'wouldn', '&', "doesn't", 'mustn', 'again', 'over', 'hadn', 'off', 'to', 'being', 'they', 'me', 'who', 'against', 'myself', 'been', 'which', 'be', 'ma', '%', "mustn't", 'were', '#', 'you', "you're", '/', 'have', 'shouldn', 'shan', 'what', 'more', 'am', 'about', 'having', 'how', 'his', 'o', 'after', 'both', '^', "should've", 'not', "you'd", 'himself', 'for', 'isn', '+', '>', "you've", 'those', "aren't", 'themselves', 'under', ':'}

In [28]:
#converting into lower case
train_data["title1_en"] = train_data["title1_en"].apply(lambda train_word: train_word.lower())
train_data["title2_en"] = train_data["title2_en"].apply(lambda train_word: train_word.lower())
train_data

,tid1,tid2,title1_en,title2_en,label
id,,,,,
195611,0,1,there are two new old-age insurance benefits f...,"police disprove ""bird's nest congress each per...",unrelated
191474,2,3,"""if you do not come to shenzhen, sooner or lat...",shenzhen's gdp outstrips hong kong? shenzhen s...,unrelated
25300,2,4,"""if you do not come to shenzhen, sooner or lat...",the gdp overtopped hong kong? shenzhen clarifi...,unrelated
123757,2,8,"""if you do not come to shenzhen, sooner or lat...",shenzhen's gdp overtakes hong kong? bureau of ...,unrelated
141761,2,11,"""if you do not come to shenzhen, sooner or lat...",shenzhen's gdp outpaces hong kong? defending r...,unrelated
...,...,...,...,...,...
113364,167562,48447,egypt 's presidential election failed to win m...,salah is retiring? football association offici...,unrelated
49407,167562,49795,egypt 's presidential election failed to win m...,liverpool's bid for little germany? the echo's...,unrelated
130134,167562,114783,egypt 's presidential election failed to win m...,west media exposing tallahlach has been recomm...,unrelated
101494,167562,137705,egypt 's presidential election failed to win m...,rumor has it that egypt is very united and the...,unrelated
89356,167563,66480,will the united states wage war on iraq withou...,saddam's daughter refutes rumors: no. 2 of sad...,unrelated

In [29]:
#removing stopwords from columns
train_data["title1_en"] = train_data["title1_en"].apply(lambda train_word: ' '.join(train_word for train_word in train_word.split() if train_word not in stoplist))
train_data["title2_en"] = train_data["title2_en"].apply(lambda train_word: ' '.join(train_word for train_word in train_word.split() if train_word not in stoplist))
train_data

,tid1,tid2,title1_en,title2_en,label
id,,,,,
195611,0,1,two new old-age insurance benefits old people ...,"police disprove ""bird's nest congress person g...",unrelated
191474,2,3,"""if come shenzhen, sooner later son also come....",shenzhen's gdp outstrips hong kong? shenzhen s...,unrelated
25300,2,4,"""if come shenzhen, sooner later son also come....",gdp overtopped hong kong? shenzhen clarified: ...,unrelated
123757,2,8,"""if come shenzhen, sooner later son also come....",shenzhen's gdp overtakes hong kong? bureau sta...,unrelated
141761,2,11,"""if come shenzhen, sooner later son also come....",shenzhen's gdp outpaces hong kong? defending r...,unrelated
...,...,...,...,...,...
113364,167562,48447,egypt 's presidential election failed win mill...,salah retiring? football association officials...,unrelated
49407,167562,49795,egypt 's presidential election failed win mill...,liverpool's bid little germany? echo's disclai...,unrelated
130134,167562,114783,egypt 's presidential election failed win mill...,west media exposing tallahlach recommended bar...,unrelated
101494,167562,137705,egypt 's presidential election failed win mill...,rumor egypt united differences us.,unrelated
89356,167563,66480,united states wage war iraq without destructio...,saddam's daughter refutes rumors: no. 2 saddam...,unrelated

In [30]:
#removing punctuation
train_data["title1_en"] = train_data["title1_en"].apply(lambda train_word: ''.join(train_word for train_word in str(train_word) if train_word not in (punctuation)))
train_data["title2_en"] = train_data["title2_en"].apply(lambda train_word: ''.join(train_word for train_word in str(train_word) if train_word not in (punctuation)))
train_data

,tid1,tid2,title1_en,title2_en,label
id,,,,,
195611,0,1,two new oldage insurance benefits old people r...,police disprove birds nest congress person get...,unrelated
191474,2,3,if come shenzhen sooner later son also come le...,shenzhens gdp outstrips hong kong shenzhen sta...,unrelated
25300,2,4,if come shenzhen sooner later son also come le...,gdp overtopped hong kong shenzhen clarified li...,unrelated
123757,2,8,if come shenzhen sooner later son also come le...,shenzhens gdp overtakes hong kong bureau stati...,unrelated
141761,2,11,if come shenzhen sooner later son also come le...,shenzhens gdp outpaces hong kong defending rum...,unrelated
...,...,...,...,...,...
113364,167562,48447,egypt s presidential election failed win milli...,salah retiring football association officials ...,unrelated
49407,167562,49795,egypt s presidential election failed win milli...,liverpools bid little germany echos disclaimer...,unrelated
130134,167562,114783,egypt s presidential election failed win milli...,west media exposing tallahlach recommended bar...,unrelated
101494,167562,137705,egypt s presidential election failed win milli...,rumor egypt united differences us,unrelated
89356,167563,66480,united states wage war iraq without destructio...,saddams daughter refutes rumors no 2 saddams r...,unrelated

In [31]:
#lemmatizing training data
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
porter = nltk.stem.PorterStemmer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    lemma_words = [lemmatizer.lemmatize(word) for word in w_tokenizer.tokenize(text)]
    return " ".join(lemma_words)

train_data["title1_en"] = train_data["title1_en"].apply(lambda data: lemmatize_text(data))
train_data["title2_en"] = train_data["title2_en"].apply(lambda data: lemmatize_text(data))
train_data

,tid1,tid2,title1_en,title2_en,label
id,,,,,
195611,0,1,two new oldage insurance benefit old people ru...,police disprove bird nest congress person get ...,unrelated
191474,2,3,if come shenzhen sooner later son also come le...,shenzhens gdp outstrips hong kong shenzhen sta...,unrelated
25300,2,4,if come shenzhen sooner later son also come le...,gdp overtopped hong kong shenzhen clarified li...,unrelated
123757,2,8,if come shenzhen sooner later son also come le...,shenzhens gdp overtakes hong kong bureau stati...,unrelated
141761,2,11,if come shenzhen sooner later son also come le...,shenzhens gdp outpaces hong kong defending rum...,unrelated
...,...,...,...,...,...
113364,167562,48447,egypt s presidential election failed win milli...,salah retiring football association official l...,unrelated
49407,167562,49795,egypt s presidential election failed win milli...,liverpool bid little germany echo disclaimer s...,unrelated
130134,167562,114783,egypt s presidential election failed win milli...,west medium exposing tallahlach recommended ba...,unrelated
101494,167562,137705,egypt s presidential election failed win milli...,rumor egypt united difference u,unrelated
89356,167563,66480,united state wage war iraq without destruction...,saddam daughter refutes rumor no 2 saddam regi...,unrelated

In [32]:
#storing preprocessed data in a csv file
from google.colab import files
train_data.to_csv('train_preprocessed.csv', encoding = 'utf-8-sig') 
files.download('train_preprocessed.csv')

In [33]:
#now doing the preprocessing for test data
!pwd
test_data = panda.read_csv("test.csv", index_col='id')
print(test_data.shape)
test_data

/content
(64110, 4)

,tid1,tid2,title1_en,title2_en
id,,,,
256442,100672,100673,"The great coat brother Zhu Zhu Wen, in the man...","Lin xinsheng after the birth of ""hard milking,..."
256443,162269,162270,NASA reveals facts about UFO wreckage found on...,"The UFO found in Yuancun, Jiaocheng County, Sh..."
256444,157826,157854,The hollow tomatoes are loaded with hormones.,"Li chenfan bingbing home photos, netizen: this..."
256445,109579,74076,Ange Pavilion Geoshui: How accurate is Matrimo...,Master one: the eight-character presumption of...
256446,15068,15085,A 50-year-old bus-bus blows up an 8-year-old c...,< i > Joe Johnson's disgruntled timing and ord...
...,...,...,...,...
320547,94862,94863,The lead content of domestic faucet exceeds th...,"The multi-brand faucet is overtaxed, who is en..."
320548,7451,7452,"In 2018, the household registration system has...","In 2018, the household registration system wil..."
320549,144163,144164,"Onion can not be eaten with this, serious also...","Onion can not eat with this, serious also can ..."
320550,96842,96856,"Grass-root teacher salaries, the last increase...","Teachers wage reform, there will be these thre..."
320551,137151,132243,"Li Weijia Weeping, Crying, Drugs? Sick? See ho...","Li Weijia on the hot air, netizens: Li Weijia ..."

In [34]:
#dropping null values
test_data = test_data.dropna()
test_data.shape

(64110, 4)

In [35]:
# stopwords
stopwords_list = nltk.corpus.stopwords.words("english")
print(stopwords_list)
#creating set with stopwords and punctuation
stoplist = set(stopwords.words('english') + list(punctuation))
print(stoplist)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
{'the', 'until', 'some', '$', 'each', 'here', 'with', 'why', "you'll", 'as', 't', "haven't", 'm', 'too', 'yourselves', 'there', 'then', '@', 'him', 'if', 'up', '\\', 'only', 'yourself', 'ain', 'your', 'he', 'didn', 'my', 'won', 'below', 'because', 'while', 'than', "weren't", 'should', 'where', 'very', 'd', 'down', "won't", 'through', 'of', 'theirs', 'a', 'she', 'by', 'do', '*', 'during', 'doing', 'at', 'are', 'it', 'an', 'wasn', 'did', 's', 'll', 'them', 'that', 'above', "shouldn't", 'can', "isn't", 'in', "wouldn't", '|', 'i', 'our', '(', '`', 'this', 'we', '-', "that'll", 'from', 'so', '"', 'other', "hadn't", '[', 'whom', 'when', 'is', 'any', 'needn', ',', '<', 'their', 'most', 'yours', 'hers', "hasn't", 'nor', 'few', 'before', 'further', 'does', "don't", 'hasn', 'such', 'same', '~', 'couldn', 'and', 'weren', ';', 'on', 'no', 've', 'all', 'just', 'will', '{', ')', 'ours', "couldn't", '!', '=', 'or', 'was', 'out', 'doesn', 'now', "needn't", "wasn't", 'between', "shan't", "didn't", 're', 'has', '?', 'itself', 'mightn', '.', ']', "she's", 'her', "'", 'y', '}', 'but', 'once', 'aren', 'don', 'own', "it's", "mightn't", 'these', 'ourselves', 'its', 'had', '_', 'herself', 'haven', 'into', 'wouldn', '&', "doesn't", 'mustn', 'again', 'over', 'hadn', 'off', 'to', 'being', 'they', 'me', 'who', 'against', 'myself', 'been', 'which', 'be', 'ma', '%', "mustn't", 'were', '#', 'you', "you're", '/', 'have', 'shouldn', 'shan', 'what', 'more', 'am', 'about', 'having', 'how', 'his', 'o', 'after', 'both', '^', "should've", 'not', "you'd", 'himself', 'for', 'isn', '+', '>', "you've", 'those', "aren't", 'themselves', 'under', ':'}

In [36]:
#converting from upercase to lower
test_data["title1_en"] = test_data["title1_en"].apply(lambda test_word: test_word.lower())
test_data["title2_en"] = test_data["title2_en"].apply(lambda test_word: test_word.lower())
test_data

,tid1,tid2,title1_en,title2_en
id,,,,
256442,100672,100673,"the great coat brother zhu zhu wen, in the man...","lin xinsheng after the birth of ""hard milking,..."
256443,162269,162270,nasa reveals facts about ufo wreckage found on...,"the ufo found in yuancun, jiaocheng county, sh..."
256444,157826,157854,the hollow tomatoes are loaded with hormones.,"li chenfan bingbing home photos, netizen: this..."
256445,109579,74076,ange pavilion geoshui: how accurate is matrimo...,master one: the eight-character presumption of...
256446,15068,15085,a 50-year-old bus-bus blows up an 8-year-old c...,< i > joe johnson's disgruntled timing and ord...
...,...,...,...,...
320547,94862,94863,the lead content of domestic faucet exceeds th...,"the multi-brand faucet is overtaxed, who is en..."
320548,7451,7452,"in 2018, the household registration system has...","in 2018, the household registration system wil..."
320549,144163,144164,"onion can not be eaten with this, serious also...","onion can not eat with this, serious also can ..."
320550,96842,96856,"grass-root teacher salaries, the last increase...","teachers wage reform, there will be these thre..."
320551,137151,132243,"li weijia weeping, crying, drugs? sick? see ho...","li weijia on the hot air, netizens: li weijia ..."

In [37]:
#removing stopwords
test_data["title1_en"] = test_data["title1_en"].apply(lambda test_word: ' '.join(test_word for test_word in test_word.split() if test_word not in stoplist))
test_data["title2_en"] = test_data["title2_en"].apply(lambda test_word: ' '.join(test_word for test_word in test_word.split() if test_word not in stoplist))
test_data

,tid1,tid2,title1_en,title2_en
id,,,,
256442,100672,100673,"great coat brother zhu zhu wen, mandarin love ...","lin xinsheng birth ""hard milking,"" huo jianhua..."
256443,162269,162270,nasa reveals facts ufo wreckage found moon.,"ufo found yuancun, jiaocheng county, shanxi, s..."
256444,157826,157854,hollow tomatoes loaded hormones.,"li chenfan bingbing home photos, netizen: call..."
256445,109579,74076,ange pavilion geoshui: accurate matrimony matc...,master one: eight-character presumption marria...
256446,15068,15085,50-year-old bus-bus blows 8-year-old child. ru...,joe johnson's disgruntled timing order myth.
...,...,...,...,...
320547,94862,94863,lead content domestic faucet exceeds standard ...,"multi-brand faucet overtaxed, endangering drin..."
320548,7451,7452,"2018, household registration system changed, 3...","2018, household registration system changed, t..."
320549,144163,144164,"onion eaten this, serious also cause eye blind...","onion eat this, serious also cause eyesight bl..."
320550,96842,96856,"grass-root teacher salaries, last increase end...","teachers wage reform, three changes, wages fin..."
320551,137151,132243,"li weijia weeping, crying, drugs? sick? see re...","li weijia hot air, netizens: li weijia ho chi ..."

In [38]:
#removing punctuation
test_data["title1_en"] = test_data["title1_en"].apply(lambda test_word: ''.join(test_word for test_word in str(test_word) if test_word not in (punctuation)))
test_data["title2_en"] = test_data["title2_en"].apply(lambda test_word: ''.join(test_word for test_word in str(test_word) if test_word not in (punctuation)))
test_data

,tid1,tid2,title1_en,title2_en
id,,,,
256442,100672,100673,great coat brother zhu zhu wen mandarin love s...,lin xinsheng birth hard milking huo jianhua se...
256443,162269,162270,nasa reveals facts ufo wreckage found moon,ufo found yuancun jiaocheng county shanxi shoc...
256444,157826,157854,hollow tomatoes loaded hormones,li chenfan bingbing home photos netizen called...
256445,109579,74076,ange pavilion geoshui accurate matrimony match...,master one eightcharacter presumption marriage...
256446,15068,15085,50yearold busbus blows 8yearold child rumors r...,joe johnsons disgruntled timing order myth
...,...,...,...,...
320547,94862,94863,lead content domestic faucet exceeds standard ...,multibrand faucet overtaxed endangering drinki...
320548,7451,7452,2018 household registration system changed 3 t...,2018 household registration system changed thr...
320549,144163,144164,onion eaten this serious also cause eye blindn...,onion eat this serious also cause eyesight bli...
320550,96842,96856,grassroot teacher salaries last increase end y...,teachers wage reform three changes wages final...
320551,137151,132243,li weijia weeping crying drugs sick see responds,li weijia hot air netizens li weijia ho chi to...

In [39]:
#lemmatiz 
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
porter = nltk.stem.PorterStemmer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    lemma_words = [lemmatizer.lemmatize(word) for word in w_tokenizer.tokenize(text)]
    return " ".join(lemma_words)
test_data["title1_en"] = test_data["title1_en"].apply(lambda data: lemmatize_text(data))
test_data["title2_en"] = test_data["title2_en"].apply(lambda data: lemmatize_text(data))
test_data

,tid1,tid2,title1_en,title2_en
id,,,,
256442,100672,100673,great coat brother zhu zhu wen mandarin love s...,lin xinsheng birth hard milking huo jianhua se...
256443,162269,162270,nasa reveals fact ufo wreckage found moon,ufo found yuancun jiaocheng county shanxi shoc...
256444,157826,157854,hollow tomato loaded hormone,li chenfan bingbing home photo netizen called ...
256445,109579,74076,ange pavilion geoshui accurate matrimony match...,master one eightcharacter presumption marriage...
256446,15068,15085,50yearold busbus blow 8yearold child rumor rum...,joe johnson disgruntled timing order myth
...,...,...,...,...
320547,94862,94863,lead content domestic faucet exceeds standard ...,multibrand faucet overtaxed endangering drinki...
320548,7451,7452,2018 household registration system changed 3 t...,2018 household registration system changed thr...
320549,144163,144164,onion eaten this serious also cause eye blindn...,onion eat this serious also cause eyesight bli...
320550,96842,96856,grassroot teacher salary last increase end yea...,teacher wage reform three change wage finally ...
320551,137151,132243,li weijia weeping cry drug sick see responds,li weijia hot air netizens li weijia ho chi to...

In [40]:
#storing test preprocessed data in a file
from google.colab import files
test_data.to_csv('test_preprocessed.csv', encoding = 'utf-8-sig') 
files.download('test_preprocessed.csv')